<div *ngIf = "cartObjArr.length > 0">
    <div *ngFor = "let x of cartIndex">
    <!-- <p>{{cartObjArr[x].title}}</p> -->
    <app-cart-item-details [index] = "x"></app-cart-item-details>
    
    </div>
    <br>
    <!-- <div >
        <button (click) = "computeTotal()">get Total amount</button>
        <p>total amount: {{total}}</p>
    </div> -->
    <!-- <p>total amount: {{total}}</p> -->
    <button routerLink = "/check-out"> click here to check out</button>
</div>
<!-- <button routerLink = "/checkout"> click here to check out</button> -->